h1, h4 { margin-top:35px; }
#listName { margin:0;}
#removeTask { margin-left:5px; }
.list-group-flush .list-group-item { border-bottom:0; }
.list-group-flush .list-group-item .description { font-weight:bold; }
.list-group-flush .list-group-item .badge { margin-right:15px; }
.material-icons { font-size:16px; }
.navbar { margin-bottom:15px; }
.modal .modal-body .input-group { margin-bottom:10px; }
.modal .modal-body .input-group .input-group-text { width:150px; }
.list-group .list-group-item[data-status="Completed"] {
    color:#155724;
    font-weight:normal;
    text-decoration: line-through;
    background-color:#f6fbf7;
}
/* .list-group .list-group-item[data-status="Completed"] {}
.list-group .list-group-item[data-status="In progress"] {}
.list-group .list-group-item[data-status="Not started"] {} */
